body {
  font-family: "Roboto";
  margin: 0px;
  background-color: #efefef;
}

/*/////header*/

nav {
  background-color: #1C2226;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 175px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-left {
  width: 40%;
  padding-left: 5px;
}

.nav-right{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo-link {
  font-family: "Codystar";
  text-align: right;
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: bold;
  padding: 15px;
  margin: 0px 10px 15px 5px;
}

i {
  width: 20px;
  color: #fff;
  padding: 5px;
}

ul {
  font-family: "Codystar";
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 2%;

}

a.nav-links {
  color: #fff;
  text-align: left;
  text-decoration: none;
  padding: 12px;
}

a:visited {
  color: #fff;
}


/*/////main*/

main {
  max-width: 1250px;
  margin: auto;
}

h1 {
  font-family: "Codystar";
  margin: 10px;
  padding: 30px 10px 0px 18px;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  color: #4c4c4c;
}


/*/////cards*/

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  justify-content: 
  flex: none;
  width: 22%;
  min-width: 225px;
}

.flex-card:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.card-header {
  text-align: right;
  padding: 15px;
  height: 190px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card1 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/WarmingTrend.png');
  background-size: cover;
  background-position: right;
}

.card2 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/CoralWedge.png');
  background-size: cover;
  background-position: right;
}

.card3 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/Fiesta.png');
  background-size: cover;
  background-position: right;
}

.card4 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/NatureAbhorsaVacuum.png');
  background-size: cover;
  background-position: right;
}

.card5 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/SouthernExposure.png');
  background-size: cover;
  background-position: right;
}

.card6 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/IndianSummer.png');
  background-size: cover;
  background-position: right;
}

.card7 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/Sentry.png');
  background-size: cover;
  background-position: right;
}

.card8 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/CorotsMark.png');
  background-size: cover;
  background-position: right;
}

.card9 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/Basin.png');
  background-size: cover;
  background-position: right;
}

.card10 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/Mirror.png');
  background-size: cover;
  background-position: right;
}

.card11 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/RedShift.png');
  background-size: cover;
  background-position: right;
}

.card12 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), 
  url('images/Sesame.png');
  background-size: cover;
  background-position: right;
}

.fave {
  padding: 0;
  margin:0;
  width: 50%;
  font-weight: bold;
  font-size: .8rem;
}

.fave-num {
  font-size: 1.5rem;
  margin: 0px;
}

.card-info {
  padding: 15px;
}

.name {
  font-size: 1rem;
}

h4 {
  margin: 0px;
  font-size: .9rem;
}

.date {
  margin: 0px;
  margin-bottom: 15px;
  font-size: .75rem; 
}

.link {
  text-decoration: none;
  color: black;
  background-color: lightgray;
  padding: 10px;
  font-size: .8rem;
  display: inline-block;
  text-align: center;
  width: 90%;
}

.genre {
  margin-top: 20px;
}

p {
  margin: 0;
  font-size: .8rem;
}

.media {
  margin-top: 15px;
}

.media-num {
  color: #15384E;
}


/*/////media queries*/

@media screen and (max-width: 1150px) {
  main {
    width: 100%;
  }
  .container {
    display: flex;
    width: 100%;
  }
  .cards {
  }
}

@media screen and (max-width: 870px) {
  .cards {
    display: flex;
    justify-content: center;
  }

  .flex-card {
    width: 30%;
  }

  .logo-link {
    font-size: 3rem;
    margin: 0px 10px 10px 5px;
  } 

  h1 {
    text-align: center;
  }

  ul {
    flex-direction: column;
    font-size: .8rem;
  }
}

@media screen and (max-width: 425px) {
  main {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex-card {
    width: 33%;
  }

  .logo-link {
    font-size: 2.5rem;
    margin: 0px 10px 10px 5px;
  } 

  ul {
    flex-direction: column;
    font-size: .8rem;
  }

  i {
    width: 15px;
    color: white; 
  }

}
